<% layout('layouts/app') %>

<h1>All Places</h1>
<a href="/places/create">Add New Place</a>
<ul>
  <% for (const place of places) { %>
  <li>
    <a href="/places/<%= place.id %>"> <%= place.title %> </a>
  </li>
  <% } %>
</ul>
